.card{
    border-left:4px solid #13779e;
    margin: 5px;
    width: 300px;
    display: flex;
    background-color: #a4cbe6;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

